annotated-types==0.7.0
certifi==2025.6.15
charset-normalizer==3.4.2
distro==1.9.0
idna==3.10
jpype1==1.5.2
numpy==2.3.1
packaging==25.0
pandas==2.3.0
pandas-stubs==2.2.3.250527
pydantic==2.11.7
pydantic_core==2.33.2
python-dateutil==2.9.0.post0
pytz==2025.2
requests==2.32.4
six==1.17.0
tabula-py==2.10.0
types-pytz==2025.2.0.20250516
typing-inspection==0.4.1
typing_extensions==4.14.0
tzdata==2025.2
urllib3==2.5.0
