annotated-types==0.7.0
certifi==2025.11.12
cffi==1.17.1
charset-normalizer==3.4.4
cryptography==45.0.7
idna==3.11
numpy==2.3.5
pandas==2.3.3
pandas-stubs==2.3.3.251201
pdfminer.six==20250506
pdfplumber==0.11.8
pillow==11.3.0
pycparser==2.23
pydantic==2.12.5
pydantic_core==2.41.5
pypdfium2==4.30.0
python-dateutil==2.9.0.post0
pytz==2025.2
requests==2.32.5
six==1.17.0
types-pytz==2025.2.0.20251108
typing-inspection==0.4.2
typing_extensions==4.15.0
tzdata==2025.2
urllib3==2.5.0
